extend base

block content
  .header.flex.items-center.justify-center.relative
    form(class='flex w-3/4 mr-30')(action='http://localhost:8000/todo' method='GET')
      select#countries.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block(class='w-1/4 focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' name='status')
        option(selected='' value='') Choose status
        option( value='todo') Todo
        option( value='done') Done
      label.mb-2.text-sm.font-medium.text-gray-900.sr-only(for='default-search', class='dark:text-gray-300') Search
      .relative(class='w-3/4')
        .flex.absolute.inset-y-0.left-0.items-center.pl-3.pointer-events-none
          svg.w-5.h-5.text-gray-500(aria-hidden='true', class='dark:text-gray-400', fill='none', stroke='currentColor', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z')
        input#default-search.block.p-4.pl-10.w-full.text-sm.text-gray-900.bg-gray-50.rounded-lg.border.border-gray-300(type='search', class='focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder='Search by title', name='title')
        button.text-white.absolute.bg-blue-700.font-medium.rounded-lg.text-sm.px-4.py-2(type='submit', class='right-2.5 bottom-2.5 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800') Search
    form.inline-block.absolute.right-0(action='http://localhost:8000/api/auth/logout', method='GET')
      button.text-white.bg-blue-700.font-medium.rounded-lg.text-sm.px-4.py-2(onClick='this.form.submit()' type='submit', class='right-2.5 bottom-2.5 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800') Log out
  .wrapper
    form(action="http://localhost:8000/api/tasks" method='POST')
      .task-input
        input#title(type='text' placeholder='Title...' name='title' required='')
      .task-input
        input#description(type='text' placeholder='Description...' name='description' required='')
      .controls
        button.add-btn(onClick='checkData(this)') Create task
    ul.task-box
      if list.length === 0
        span You don't have any task here
      else
        each todo in list
          - let completed = todo.is_done ? "checked" : "";
          li.task
            form(action=`http://localhost:8000/api/tasks/${todo.id}` method='POST')
              label(for=`${todo.id}`)
                input(onChange='this.form.submit()' type='checkbox' id=`${todo.id}` checked=todo.is_done name='is_done')
                .flex-col.items-center
                  p(class=`${completed}`)
                    strong= `${todo.title}`
                  p= `${todo.desc}`
            .settings
              svg.w-6.h-6(onclick='showMenu(this)' xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                path(stroke-linecap='round' stroke-linejoin='round' d='M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75')
              ul.task-menu
                li
                  a.flex(href=`http://localhost:8000/todo/${todo.id}`)
                    svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                      path(stroke-linecap='round' stroke-linejoin='round' d='M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0')
                    | Edit
                form(action=`http://localhost:8000/api/tasks/${todo.id}` method='GET')
                  li(onclick='this.parentElement.submit()')
                    svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                      path(stroke-linecap='round' stroke-linejoin='round' d='M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10')
                    |       Delete